.normal
{
   margin: 1;
   padding-top: 0;
   margin-bottom: 0;
}
.div2
{
  border-style: outset;
  background-color: antiquewhite;
}
.bigfont
{
  font-size: 24;
}
.name
{
  font-size: xx-large;
  
  font-weight: 100;
  
}
.right
{
   text-align: right;
}
.center
{
   text-align: center;
}
.column3 {
   float: left;
   width: 45%;
 }
 .column4 {
  float: left;
  width: 26%;
}
 .column2 {
   float: left;
   width: 50%;
 }
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 .ClBlue
 {
   margin: 1;
   padding-top: 0;
   margin-bottom: 0;
   color: blue;
 }
